* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    font-family: 'Sulphur Point', sans-serif;;
    color: black;
}
.app {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* align-self: center; */
    width: 75%;
    min-width: 350px;
    max-width: 700px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 40px;
}

.location, 
.tempAndOther {
    height: 30vh;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tempAndOther {
    width: 90%;
    padding-bottom: 75px;
}

.location h1 {
    padding: 15px;
}

.temperature {
    flex-direction: column;
    padding-bottom: 25px;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
    opacity: 30%;
}

.degree-section .active {
    opacity: 100%;
}

.degree-section h2 {
    font-size: 40px; 
}

.otherDetails {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 20px;
}



.otherDetails > div {
    display: flex;
    /* justify-content: center; */
}

.otherDetails span {
    padding-right: 10px;
}

.wind-section {
    cursor: pointer;
}

.wind-section .now {
    padding-left: 5px;
}

.wind-section .next {
    opacity: 40%;
}

.otherDetails > div > div {
    font-weight: bold;
}

@media (max-width:600px) {
    .tempAndOther {
        flex-direction: column;
        padding-bottom: 100px;
    }

    .icon {
        height: 100px;
        width: 100px;
    }

    .location h1 {
        font-size: 30px;
    }

    .otherDetails {
        padding-top: 10px;
    }
}

@media (max-width: 420px) {

}