/* default Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
    background: #50bfd8; 
    /* background: linear-gradient(to right, #61a6b6, #12505f); */
    font-family: 'Sulphur Point', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    color: black;
    transition: all 0.3s ease;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.app {
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* align-self: center; */
    width: 75%;
    min-width: 330px;
    max-width: 700px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 40px;
    transition: background 0.5s ease;
}

.location, 
.tempAndOther {
    height: 30vh;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tempAndOther {
    width: 90%;
    padding-bottom: 75px;
}

.location h1 {
    padding: 15px;
}

.temperature {
    flex-direction: column;
    padding-bottom: 25px;
}

/* degree section */

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
    opacity: 30%;
    transition: opacity 0.3s ease;
}

.degree-section span:hover {
    opacity: 50%;
}

.degree-section .active {
    opacity: 100%;
}

.degree-section h2 {
    font-size: 40px; 
}

/* Other Details */

.otherDetails {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 20px;
}

.otherDetails > div {
    display: flex;
}

.otherDetails span {
    padding-right: 10px;
}

.otherDetails > div > div {
    font-weight: bold;
}

/* wind secotion */

.wind-section {
    cursor: pointer;
}

.wind-section .now {
    padding-left: 5px;
}

.wind-section .next {
    opacity: 40%;
    transition: opacity 0.3s ease;
}

.wind-section .next:hover{
    opacity: 60%;
}

/* Dark mode */

.darkMode {
    position: absolute;
    bottom: 0;
    right: -15px;
    transform: translate(-50%, -50%);
    background: rgb(32, 32, 32);
    border-radius: 5px;
    height: 50px;
    width: 100px;
    color: rgb(243, 243, 243);
    padding-top: 14px;
    padding-left: 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    outline: none;
}

.darkMode:hover {
    background-color: rgb(50, 50, 50);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 20px;
}

.darkMode p {
    width: 100px;
    text-align: center;
}

/* mbile responsive*/

@media (max-width:600px) {
    .tempAndOther {
        flex-direction: column;
        padding-bottom: 100px;
    }

    .icon {
        height: 100px;
        width: 100px;
    }

    .location h1 {
        font-size: 30px;
    }

    .otherDetails {
        padding-top: 10px;
    }
}

@media (max-width: 420px) {

}